<footer class="site-footer">
        <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">DigDeeper was created in order to provide music savy people with a more intuitive way to organize their music. We help unify all relevant plattforms to track releases and help users build up their music base.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>More about Us</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Story</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">For Producers</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">For Filmakers</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">DigDeeper for everyday people</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Useful Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">Beatport article</a></li>
              <li><a href="http://scanfcode.com/contact/"></a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
         <a href="#">DigDeeper</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa-brands fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
