<div data-insert-in-tracklist-target="tracklist">
  <% tracklist.each do |track| %>
    <small><%= track.position %> <%= track.title %>

      <% if track.favorite? %>
        <%= link_to track_path(track), data: { turbo_method: :patch, action: "click->insert-in-tracklist#update" } do %>
          <i class="fa-solid fa-heart" aria-hidden="true" target="_blank"></i>
        <% end %>
      <% else %>
        <%= link_to track_path(track), data: { turbo_method: :patch, action: "click->insert-in-tracklist#update" } do %>
          <i class="fa-regular fa-heart" aria-hidden="true" target="_blank"></i>
        <% end %>
      <% end %>
    </small>
  <% end %>
</div>
