<div class="content-container-home">
  <div class="home-container">
    <h2 class="h2-home animate__animated animate__fadeInLeft">digDeeper</h2>
  </div>
</div>

<div class="background-image-home"></div>
