<div class="content-container-home">
  <div class="home-container">
    <h2 class="h2-home animate__animated animate__fadeInLeft">digDeeper</h2>
    <%=image_tag "curly_arrow1.png", width: "100px"%>
    
    <%= link_to "Dashboard", dashboard_path, class:"btn btn-primary", id: "btn-custom" %>
    <%= link_to "Sign in", new_user_session_url, class:"btn btn-primary", id: "btn-custom" %>
    <%= link_to "Sign up", new_user_registration_url, class:"btn btn-primary", id: "btn-custom" %>


    </div>
  </div>
</div>

<div class="background-image-home"></div>
