.form-inputs {
  width: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 45px;
  margin-bottom: 30px;
  border: 1px solid #202020;
  border-radius: 30px;
  box-shadow: 5px 10px 10px #888888;
  background: #202020(84, 81, 81);;
  font-size: 20px;
  margin-left: 383px;
color: white;
}

// #user_email {
//     height: 80px;
//     border-radius: 30px;
//     background-color: white;
//   }

//   #user_password {
//     border-radius: 30px;
//     height: 80px;
//     background-color: white;

//   }

//   #user_password_confirmation {
//     border-radius: 30px;
//     height: 80px;
//   }

.form-actions {
  .btn{
    height: 80px;
    width: 508px;
    border-radius: 30px;
    background:#202020;
    margin-left: 378px;
    color: white;
  }
}

 h2 {
  text-align: center;
  text-decoration: auto;
  padding-top: 26px;
color: white;
 }

 #new_user{
  background-color: #202020;
 }

 body{
  background-color: #202020;
 }
