.navbar-lewagon {
  justify-content: space-between;
  background: rgb(84, 81, 81);
  height: 100px;
  font-display: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 70px;

}

.nav-link{
  display: inline-block;
  border-radius: 24px !important;
  background: white;
  &:hover {
    background: white;
}
}
