@import "bootstrap/scss/bootstrap";
@import "releases_show";
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import "components/index";
@import "components/dashboard";
@import "pages/index";



body {
  height: 100vh;
}
