
.dashboard-container{
	background-size: cover;
  background-color:#202020;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form-inline {
display: white;
}

#dashboard-heading{
  color: white;
  font-family: 'Syne', sans-serif;
}
.h6 {
display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  color: white;
  left: 850px;
}

table{
  width: 100%;
}

tr{
  margin-bottom: 10px;
  font-display: white;

}

td{
  padding-bottom: 20px
}
th{
  font-display: white;
  font-display: white;

}

.search-form {
  color: white;
  .btn{
    height: 62px;
    width: 121px;
    padding-top: 16px;
  }
}
// .dashboard-table
