
.container{
  background-image: asset-url("dashboard-background.png");
	background-size: cover;
  background-color: #202020	;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.h6 {
display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  color: white;
  left: 850px;
}
.btn_main{
  width: 150px;
}

table{
  width: 100%;
}

tr{
  margin-bottom: 10px;
}

td{
  padding-bottom: 20px
}
th{
  font-display: white;
}
