.release_img{
  display: flex;
  overflow: scroll;
  flex-direction: column;
  align-items: flex-end;

  }
.background-blur-img{
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);

}

.content-container{
  background-color: black;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.info-container{
  width: 100%;
  // height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

// h1 {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   font-family: 'Syne', sans-serif;
//   font-weight: 400;
//   color: white;
//   left: 850px;

// }
// h2 {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   font-family: 'Syne', sans-serif;
//   font-weight: 400;
//   color: white;
//   left: 850px;


//   }
//   p {
//     display: flex;
//     align-items: flex-end;
//     font-family: 'Syne', sans-serif;
//     font-weight: 400;
//     color: white;
//     flex-direction: column;
//     align-items: end;
//     left: 850px;

//     }

.cover-bg{
  width: 40%;
  margin-left: 0px;
}

.info-card {
  padding-right: 250px;
}
