.container-edit{
	background-size: cover;
  background-color: #202020	;


}


.form-control {
background-color: transparent;
text-decoration: white;
border-color: white;
}


.edit-form {
  background-color: transparent;
  text-decoration: white;
  border-color: white;
  }

.edit-title{
text-decoration: white;
}
