.container-edit{
	background-size: cover;
  background-color: #202D40	;


}


// .form-control {
// background-color: #020f14;
// text-decoration: white;
// border-color: white;
// color: white;
//   &:focus {
//     background-color: pink;
//   }
// }

#form-design {
  input, select {
  background-color: #020f14 !important;
  text-decoration: white;
  border-color: white;
  color: white;
    &:focus {
      background-color: pink;
    }
  }
}
h1 {
  color: white;
}

label {
  color: white;
}

.edit-title{
text-decoration: white;
}
