<%= link_to "Create a new release", new_list_release_path, class: "button_main my-3" %>

<div class="container">
 <% @releases.each do |release| %>
   <%= release.artist %>
  <%# <%= release.title %> 
 <% end  %>


</div>
