<%= link_to "Create a new release", new_list_release_path, class: "btn-rest" %>

<div class="container">
 <% @releases.each do |release| %>
   <%= release.artist %>
  <%# <%= release.title %>
 <% end  %>


</div>
